@import "tailwindcss";

@theme {
    --color-gov-white: #F5F8FA;
    --color-gov-blue-100: #C8E2F7;
    --color-gov-blue-200: #8FC2EB;
    --color-gov-blue-300: #5BA3DE;
    --color-gov-blue-400: #2B85CF;
    --color-gov-blue-500: #19619C;
    --color-gov-blue-600: #0C3F69;
    --color-gov-blue-700: #031F36;
    --color-gov-black: #000103;
}